/* NAVBAR START */
.navbar-text a:hover {
	color: #ffb835;
}

.navbar-button .log-in:hover,
.sign-up:hover {
	background-color: #ffeac2;
}
/* NAVBAR END */

/* HERO START */
.hero-button .display-button:hover {
	background-color: #ffeac2;
}
/* HERO END */

.download-h1 .download-here:hover {
	background-color:	#ffeac2;
	color: #ffffff;
}

/* bismillah */