html {
	scroll-behavior: smooth;
}

body {
	background-color: #f6f6f6;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR START */
.navbar {
	background-color: #ffffff;
	height: 60px;
	border: 1px solid #eeeded;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 2;
}

.navbar-logo {
	display: flex;
	align-items: center;
	padding-left: 60px;
}

.navbar-logo img {
	width: 40px;
}

.logo-text {
	padding: 16px;
	font-weight: 700;
	color: #ffb835;
	line-height: 150%;
}

.navbar-text {
	display: flex;
	padding-left: 40px;
	justify-content: space-evenly;
	align-items: center;
	width: 654px;
	height: 48px;
}

.navbar-text a {
	text-decoration: none;
	color: #656565;
	font-weight: 500;
	font-size: 16px;
}

/* NAVBAR BUTTON START */
.navbar-button {
	padding-left: 60px;
	display: flex;
	align-items: center;
}

.navbar-button .log-in {
	background-color: #ffb835;
	border-radius: 32px;
	padding: 8px 32px;
	border: 1px solid #ffb835;
}

.navbar-button .sign-up {
	border: 1px solid #ffb835;
	margin-left: 24px;
	padding: 8px 28px;
	border-radius: 32px;
}

.navbar-button .log-in a {
	text-decoration: none;
	color: #ffffff;
}

.navbar-button .sign-up a {
	text-decoration: none;
	color: #ffb835;
}
/* NAVBAR BUTTON END */
/* NAVBAR END */

/* HERO START */
.container-start {
	display: flex;
	align-items: center;
	width: 50%;
}
/* LABEL */
.label-start {
	margin-top: 160px;
	margin-left: 60px;
	margin-right: 692px;
	background-color: #ffffff;
	padding: 12px 24px;
	border-radius: 32px;
	box-shadow: 2px -1px 104px -5px
		rgba(225, 148, 53, 0.67);
	-webkit-box-shadow: 2px -1px 104px -5px
		rgba(225, 148, 53, 0.67);
	-moz-box-shadow: 2px -1px 104px -5px
		rgba(225, 148, 53, 0.67);
}

.label-start a {
	text-decoration: none;
	color: #ffb835;
	line-height: 150%;
	font-weight: 400;
	font-size: 16px;
}
/* LABEL END */

/* DISPLAY TEXT START */
.display-text {
	margin-top: 40px;
	margin-left: 60px;
	font-size: 72px;
	margin-right: 20px;
	color: #656565;
	line-height: 120%;
}

.display-text strong {
	color: #ffb835;
	font-weight: 500;
}

.child-display {
	margin-left: 60px;
	margin-top: 20px;
	line-height: 150%;
	color: #b1afac;
	font-size: 20px;
	margin-right: 180px;
	font-weight: 200;
}
/* DISPLAY END */

/* BUTTON DISPLAY START */
.display-button {
	background-color: #ffb835;
	color: #ffffff;
	padding: 16px 40px;
	margin-left: 60px;
	margin-top: 32px;
	border-radius: 32px;
	width: fit-content;
	margin-bottom: 160px;
}

.display-button a {
	text-decoration: none;
	color: #ffffff;
}
/* BUTTON DISPLAY END */

/* IMAGE START */
.hero-image {
	width: 200px;
	margin-right: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
/* IMAGE END */

/* CIRCLE START */
.circle-1 {
	margin-left: 724px;
	position: fixed;
	border-radius: 100%;
	background-color: #c2e0e8;
	z-index: -99;
	width: 40%;
	height: 70%;
	color: #f6f6f6;
}

.circle-2 {
	margin-left: 400px;
	margin-top: 800px;
	position: fixed;
	border-radius: 100%;
	background-color: #e7e7e7;
	z-index: -99;
	width: 30%;
	height: 50%;
	color: #f6f6f6;
}
/* CIRCLE END */
/* HERO END */

/* LOGO START */
.logo-container {
	background-color: #ffb835;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 40px;
	padding-bottom: 40px;
}

.logo-container img {
	width: 15%;
}

.text-logo {
	line-height: 150%;
	color: #f6f6f6;
	font-size: 24px;
	text-align: center;
	font-weight: 200;
}

.text-logo strong {
	font-size: 40px;
	line-height: 150%;
	font-weight: 500;
	font-family: "Segoe UI";
	color: #ffffff;
}
/* LOGO END */

/* CLASSR START */
.container {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	background-size: cover;
}

.container-second {
	margin-top: 80px;
	max-width: 60%;
}

.label-fix {
	display: flex;
	justify-content: center;
}

.container-second .container-label {
	margin-top: 20px;
	width: fit-content;
	line-height: 150%;
	color: #74bfd1;
	font-weight: 400;
	border-radius: 32px;
	font-size: 16px;
	padding: 12px 24px;
	box-shadow: 2px -1px 104px -5px
		rgba(116, 191, 206, 0.67);
	-webkit-box-shadow: 2px -1px 104px -5px
		rgba(116, 191, 206, 0.67);
	-moz-box-shadow: 2px -1px 104px -5px
		rgba(116, 191, 206, 0.67);
}

.container-h1 {
	width: fit-content;
	line-height: 150%;
	padding-top: 40px;
	font-size: 52px;
	color: #656565;
	font-weight: 400;
	text-align: center;
}

.container-h1 strong {
	color: #74bfd1;
	font-weight: 400;
}

.container-b1 {
	line-height: 150%;
	padding-top: 8px;
	color: #b1afac;
	font-weight: 200;
	font-size: 20px;
	text-align: center;
}

.container-frame {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	width: 90%;
}

.container-frame img {
	width: 90%;
	margin-left: 50px;
}

.icon-membaca {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	align-items: center;
}

.icon-membaca img {
	margin-right: 10px;
}

.icon-membaca .text {
font-size: 24px;
font-weight: 500;
text-align: center;
margin-left: 300px;
}

.icon-huruf {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-left: 700px;
	height: 190px;
	width: auto;
}

.icon-angka {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-right: 700px;
	height: 190px;
	width: auto;
}

.icon-hitung {
    display: flex;
	justify-content: center;
	padding-top: 20px;
	padding-left: 700px;
	height: 190px;
	width: auto;
	margin-bottom: 20px;
}

.container-game {
	background-color: #f6f6f6;
}
/* CLASS END */