html {
	scroll-behavior: smooth;
}

body {
	background-color: #f6f6f6;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR START */
.navbar {
	background-color: #ffffff;
	height: 60px;
	border: 1px solid #eeeded;
	display: flex;
	align-items: center;
	width: 100%;
	overflow: hidden;
	position: fixed;
	top: 0;
	z-index: 2;
}

.navbar-logo {
	display: flex;
	align-items: center;
	padding-left: 60px;
}

.navbar-logo img {
	width: 40px;
}

.logo-text {
	padding: 16px;
	font-weight: 700;
	color: #ffb835;
	line-height: 150%;
}

.navbar-text {
	display: flex;
	padding-left: 40px;
	justify-content: space-evenly;
	align-items: center;
	width: 654px;
	height: 48px;
}

.navbar-text a {
	text-decoration: none;
	color: #656565;
	font-weight: 500;
	font-size: 16px;
}

/* NAVBAR BUTTON START */
.navbar-button {
	padding-left: 60px;
	display: flex;
	align-items: center;
}

.navbar-button .log-in {
	background-color: #ffb835;
	border-radius: 32px;
	padding: 8px 32px;
	border: 1px solid #ffb835;
}

.navbar-button .sign-up {
	border: 1px solid #ffb835;
	margin-left: 24px;
	padding: 8px 28px;
	border-radius: 32px;
}

.navbar-button .log-in a {
	text-decoration: none;
	color: #ffffff;
}

.navbar-button .sign-up a {
	text-decoration: none;
	color: #ffb835;
}
/* NAVBAR BUTTON END */
/* NAVBAR END */

/* HERO START */
.container-start {
	display: flex;
	align-items: center;
	width: 50%;
}
/* LABEL */
.label-start {
	margin-top: 160px;
	margin-left: 60px;
	margin-right: 692px;
	background-color: #ffffff;
	padding: 12px 24px;
	border-radius: 32px;
	box-shadow: 2px -1px 104px -5px
		rgba(225, 148, 53, 0.67);
	-webkit-box-shadow: 2px -1px 104px -5px
		rgba(225, 148, 53, 0.67);
	-moz-box-shadow: 2px -1px 104px -5px
		rgba(225, 148, 53, 0.67);
}

.label-start a {
	text-decoration: none;
	color: #ffb835;
	line-height: 150%;
	font-weight: 400;
	font-size: 16px;
}
/* LABEL END */

/* DISPLAY TEXT START */
.display-text {
	margin-top: 40px;
	margin-left: 60px;
	font-size: 72px;
	margin-right: 20px;
	color: #656565;
	line-height: 120%;
}

.display-text strong {
	color: #ffb835;
	font-weight: 500;
}

.child-display {
	margin-left: 60px;
	margin-top: 20px;
	line-height: 150%;
	color: #b1afac;
	font-size: 20px;
	margin-right: 180px;
	font-weight: 200;
}
/* DISPLAY END */

/* BUTTON DISPLAY START */
.display-button {
	background-color: #ffb835;
	color: #ffffff;
	padding: 16px 40px;
	margin-left: 60px;
	margin-top: 32px;
	border-radius: 32px;
	width: fit-content;
	margin-bottom: 160px;
}

.display-button a {
	text-decoration: none;
	color: #ffffff;
}
/* BUTTON DISPLAY END */

/* IMAGE START */
.hero-image {
	width: 200px;
	margin-right: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 1;
}
/* IMAGE END */

/* CIRCLE START */
.circle-1 {
	margin-left: 724px;
	position: fixed;
	border-radius: 100%;
	background-color: #c2e0e8;
	z-index: -99;
	width: 40%;
	height: 70%;
	color: #f6f6f6;
}

.circle-2 {
	margin-left: 400px;
	margin-top: 800px;
	position: fixed;
	border-radius: 100%;
	background-color: #e7e7e7;
	z-index: -99;
	width: 30%;
	height: 50%;
	color: #f6f6f6;
}
/* CIRCLE END */
/* HERO END */

/* LOGO START */
.logo-container {
	background-color: #ffb835;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding-top: 40px;
	padding-bottom: 40px;
}

.logo-container img {
	width: 15%;
}

.text-logo {
	line-height: 150%;
	color: #f6f6f6;
	font-size: 24px;
	text-align: center;
	font-weight: 200;
}

.text-logo strong {
	font-size: 40px;
	line-height: 150%;
	font-weight: 500;
	font-family: "Segoe UI";
	color: #ffffff;
}
/* LOGO END */

/* CLASSR START */
.container {
	background-color: #f6f6f6;
	display: flex;
	justify-content: center;
	background-size: cover;
}

.container-second {
	margin-top: 80px;
	max-width: 60%;
}

.label-fix {
	display: flex;
	justify-content: center;
}

.container-second .container-label {
	margin-top: 20px;
	width: fit-content;
	line-height: 150%;
	color: #74bfd1;
	font-weight: 400;
	border-radius: 32px;
	font-size: 16px;
	padding: 12px 24px;
	box-shadow: 2px -1px 104px -5px
		rgba(116, 191, 206, 0.67);
	-webkit-box-shadow: 2px -1px 104px -5px
		rgba(116, 191, 206, 0.67);
	-moz-box-shadow: 2px -1px 104px -5px
		rgba(116, 191, 206, 0.67);
}

.container-h1 {
	width: fit-content;
	line-height: 150%;
	padding-top: 40px;
	font-size: 52px;
	color: #656565;
	font-weight: 400;
	text-align: center;
}

.container-h1 strong {
	color: #74bfd1;
	font-weight: 400;
}

.container-b1 {
	line-height: 150%;
	padding-top: 8px;
	color: #b1afac;
	font-weight: 200;
	font-size: 20px;
	text-align: center;
}

.container-frame {
	display: flex;
	justify-content: center;
	padding-top: 20px;
	width: 90%;
}

.container-frame img {
	width: 90%;
	margin-left: 50px;
}

.icon-membaca {
	display: flex;
	justify-content: center;
	margin-top: 40px;
	padding-right: 100px;
	align-items: center;
}

.icon-membaca img {
	margin-right: 10px;
}

.icon-membaca .text {
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	padding-left: 20px;
	color: #656565;
	width: 700px;
}

.icon-huruf {
	display: flex;
	justify-content: center;
	padding-top: 40px;
	padding-left: 100px;
	align-items: center;
}

.icon-huruf img {
	margin-left: 10px;
}

.icon-huruf .text {
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	padding-right: 20px;
	color: #656565;
	width: 700px;
}


.icon-angka {
	display: flex;
	justify-content: center;
	padding-top: 40px;
	padding-right: 100px;
	align-items: center;
}

.icon-angka img {
	margin-right: 10px;
}

.icon-angka .text {
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	padding-left: 20px;
	color: #656565;
	width: 700px;
	}

.icon-menulis {
    display: flex;
	justify-content: center;
	padding-top: 40px;
	padding-left: 100px;
	margin-bottom: 80px;
	align-items: center;
}

.icon-menulis img {
	margin-left: 10px;
}

.icon-menulis .text {
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	padding-right: 20px;
	color: #656565;
	width: 700px;
}

.container-game {
	background-color: #f6f6f6;
}

.about-container-label {
	display: flex;
	justify-content: center;
	background-color: #f6f6f6;
	height: 80px;
}

.container-label-abt {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: fit-content;
	line-height: 150%;
	color: #ffb835;
	font-weight: 400;
	border-radius: 32px;
	font-size: 16px;
	padding: 12px 24px;
	box-shadow: 2px -1px 104px -5px
		rgba(206, 182, 116, 0.67);
	-webkit-box-shadow: 2px -1px 104px -5px
		rgba(206, 182, 116, 0.67);
	-moz-box-shadow: 2px -1px 104px -5px
		rgba(206, 182, 116, 0.67);
}

.container-transition {
	display: flex;
	justify-content: center;
	background-color: #f6f6f6;
}

.container-godong img {
	width: 100%;
}

.container-prolog {
	background-color: #f6f6f6;
	justify-content: center;
	display: flex;
}

.prolog-text {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	width: fit-content;
	line-height: 150%;
	color: #656565;
	font-weight: 400;
	border-radius: 32px;
	font-size: 16px;
	padding: 12px 24px;
	box-shadow: 2px -1px 104px -5px
		rgba(206, 182, 116, 0.67);
	-webkit-box-shadow: 2px -1px 104px -5px
		rgba(206, 182, 116, 0.67);
	-moz-box-shadow: 2px -1px 104px -5px
		rgba(206, 182, 116, 0.67);
}

.about-container-ltrblkg {
	background-color: #f6f6f6;	
}

.container-ltrblkg {
	display: flex;
	justify-content: end;
}

.ltrblkg-text {
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	color: #656565;
	width: 700px;
	padding-top: 60px;
	padding-bottom: 20px;
	padding-right: 200px;
}

.ltrblkg-text1 {
	font-size: 24px;
	font-weight: 500;
	text-align: left;
	color: #656565;
	width: 700px;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 200px;
	margin-bottom: 70px;
}

.bombom-pojok {
	padding-top: 60px;
}

.bombom-pojok img {
	width: 200px;
}

.container-typo {
	display: flex;
	justify-content: center;
	background-color: #f6f6f6;
}

.container-typo-text {
	width: 900px;
	line-height: 150%;
	padding-top: 40px;
	padding-bottom: 50px;
	font-size: 52px;
	color: #656565;
	font-weight: 400;
	text-align: center;
}

.container-typo-text strong {
	color: #ffb835;
	font-weight: 400;
}

.about-container-team1 {
	display: flex;
	justify-content: space-evenly;
	align-items: end;
	background-color: #f6f6f6;
	padding-right: 90px;
	padding-top: 20px;
}

.about-container-team2 {
	display: flex;
	justify-content: space-evenly;
	align-items: end;
	background-color: #f6f6f6;
	padding-left: 90px;
	padding-bottom: 40px;
}

.container-team-img img {
	width: 350px;
}

.container-team-img {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.container-download {
	display: flex;
	justify-content: center;
	background-color: rgba(116, 191, 209, 1);
}

.container-download-h1 {
	background-color: #ffb835;
	width: 760px;
	height: 100px;
	margin-bottom: 70px;
	margin-top: 60px;
	padding-left: 60px;
	padding-right: 60px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 450px;
	box-shadow: 2px -1px 104px -5px
	rgba(206, 182, 116, 0.67);
	-webkit-box-shadow: 2px -1px 104px -5px
	rgba(206, 182, 116, 0.67);
	-moz-box-shadow: 2px -1px 104px -5px
	rgba(206, 182, 116, 0.67);
}

.container-text-download {
	padding-right: 350px;
}

.started-text {
	display: flex;
	margin-right: 20px;
	margin-bottom: 5px;
}

.get-started {
	font-size: 25px;
	font-weight: 500;
	color: #ffffff;
	width: 200px;
}

.download-text {
	display: flex;
	margin-left: 2px;
}

.download-now {
	font-size: 12px;
	color: #ffffaa;
}

.download-here {
	margin-left: 60px;
	width: 150px;
	height: 50px;
	border-radius: 450px;
	font-size: 12px;
	background-color: #f6f6f6;
	color: #ffb835;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: 2px -1px 104px -5px
	rgba(90, 85, 71, 0.67);
	-webkit-box-shadow: 2px -1px 104px -5px
	rgba(90, 85, 71, 0.67);
	-moz-box-shadow: 2px -1px 104px -5px
	rgba(90, 85, 71, 0.67);
}

.container-footer {
	background-color: rgba(116, 191, 209, 1);
	display: flex;
	height: 0px;
}

.container-footer-h1 {
	padding-top: 50px;
	padding-left: 70px;
}

.class-headline {
	color: #656565;
	font-weight: 500;
	margin-bottom: 5px;
	font-size: 18px;
}

.class-footer {
	color: #656565;
	width: 30px;
	line-height: 150%;
	font-weight: 200;
	font-size: 14px;
}

.catto-bombom {
	display: flex;
	align-items: end;
	padding-left: 600px;
}

.catto-container {
	padding-right: 20px;
}

.catto-container img {
	width: 200px;
}

.bombom-container img {
	width: 220px;
}

/* CLASS END */